
{% extends 'goodmenubase.html' %}


{% block title %}album_detail.html{% endblock %}
{% load staticfiles %}
{% block contents %}
<h1>{{object}} 자세히 보기 입니다.</h1>


<div class="row">
    {% for goodmenu in object.goodmenu_set.all %}

<div class="card"  style="margin: 1%; width: 23%;left:3% " >
    <div class="card-header">
        {{ goodmenu.author }}
        {{ goodmenu.area }}
        {{ goodmenu.title}}
    </div>
    <a href="{{ goodmenu.get_absolute_url }}"><img class ="thumbnail" src="{{goodmenu.smallimg.thumb_url }}"></a>
    <div class="card-body">
        <p class="card-text">{{goodmenu.smallbody}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li>
                 
            <a href="{% url 'goodmenu:like' goodmenu.id %}" class="float-left btn-like {%if user in goodmenu.like.all %} active {%endif%}">좋아요!</a>
            {% if goodmenu.like.all.count %}
            <span class = "float-left">
                {{goodmenu.like.all.count}}
            </span>
            {% endif %}
            <a href="{% url 'goodmenu:favorite' goodmenu.id %}" class="float-right btn-favorite {%if user in goodmenu.favorite.all %}active{%endif%}">저장하기!</a>
        
          </li>

        <li class="list-group-item"><small class="text-muted" style="float: left">
              조회수 : {{ goodmenu.hit }}</small> <small class="text-muted" style="float: right">별점 : <img src=" {{ goodmenu.goodstar.img.url }}" >
        </small></li>
        <li class="list-group-item">생성일 : {{ goodmenu.date }}</li>
    </ul>

    

</div>
{% endfor %}

</div>
 
{% endblock%}


